body{
	margin-left: 5%;
	margin-right: 5%;
	background-image: url("Image/BackGround.jpg");
	background-size: cover;
}

.sidebar{
	float: left;
	height: 100%;
	width: 30%;
	text-align: center;
	background-color: darkorange;
}

.header{
	font-family: "Arial";
	font-weight: bold;
	font-style: italic;
}

.header1{
	color: black;
	font-size: 15px;
}

.header2{
	margin-left: 12cm;
	color: maroon;
	font-size: 30px;
}

.header3{
	margin-left: 15cm;
	color: black;
	font-size: 15px;
}

.header4{
	margin-left: 18cm;
	color: maroon;
	font-size: 30px;
}

.content{
	font-family: "Times New Roman";
	font-size: 16px;
}

.footer{
	float: right;
}

.title{
	color: maroon;
}

.des{
	margin-left: 2cm;
	text-align: left;
}